.day {
	outline: 1px solid black;
	width: 80px;
	float: left;
}

.name {
	text-align: center;
}

.weather-image {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.temps {
	text-align: center;
}