.today {
	outline: 2px solid black;
	width: 80px;
	float: left;
}

.dummy-div {
	clear: both;
	min-height: 5px;
}

.entity {
	outline: 1px solid #d5d5d5;
	width: 80px;
	float:left;
}

.selectedDay {
	outline: 1px solid black;
	width: 80px;
	float:left;
}

.title {
	text-align: center;
}

.weather-icon {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.temps {
	text-align: center;
}